.wrapper {
    display: grid;
    gap: 8px;
    max-width: 400px;
    padding: 40px;
    margin: 32px auto;
    background: white;
}

.btn {
    margin-top: 20px;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.btn:hover {
  background: #f3f3f3;
}