.skeleton-wrapper {
    display: contents;
}

.card.skeleton {
    align-items: flex-start;
    border: 1px solid #f3f3f3;
    background: transparent;
}

.skeleton-avatar {
    width: 40px;
    height: 40px;
    transition: all 0.5s ease;
    animation: color-change 1s linear infinite alternate;
}

.skeleton-fullname {
    display: flex;
    gap: 4px;
}

.skeleton-fullname div {
    width: 90px;
    height: 12px;
    transition: all 0.5s ease;
    animation: color-change 1s linear infinite alternate;
}

@keyframes color-change {
    from {
       background: #f3f3f3;
    }

    to {
        background: #ecebeb;
    }
}